.container_luar {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.container_dalam {
  padding: 16px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.marginTop {
  margin-top: 8px;
}

.gambar {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin-top: 8px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
